.image-gallery img {
    height: 70vh;
}

#referenzenSection {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 90vh;
 width: 100vw;
}

#logo2 {
    position: absolute;
    z-index: -1;
    right: 0px;
    transform: translateY(-15vw);
}

@media (max-width: 950px) {

}

@media (max-width: 600px) {
    .image-gallery img {
    height: 50vh;
}
    #referenzenSection {
        height: 70vh;
    }
}

