.iconImage {
    height: 10vw;
}

.iconDiv {
    background-color: var(--secondary-color);
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    Box-sizing: border-box;
    transition: box-shadow .2s ease-in-out,
}

.iconDiv:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.218);
}

.iconDiv:active {
    background-color: var(--primary-transparent);
}

.iconDiv p {
    color: var(--darkText);
    font-size: 1.3vw;
    text-align: center;
}

@media (max-width: 950px) {
    .iconDiv {
    height: 20vw;
    width: 20vw;
}
}

@media (max-width: 768px) {
    .iconDiv p {
    font-size: 14px;
}

.iconDiv {
    height: 30vw;
    width: 30vw;
    margin: 5vw;
}

}