header {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
}

.navLinks {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navLinks a {
    color: var(--secondary-color);
    padding: 5px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    border: none;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}

.navLinks a:hover {
    color: var(--light-blue);
}


#bannerBtn {
    margin-left: 20px;
    transition: background-color 0.5s ease-in-out;
}

#bannerBtn:hover {
    background-color: var(--light-blue);
}

#navBtn {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    visibility: hidden;
    position: absolute;
    top: -10px ;
    right: 10px;
    font-size: 20px;
}

#navBtn:hover {
    background-color: var(--light-blue);
}

@media (max-width: 1018px) {}

@media (max-width: 700px) {
    #navBtn {
        visibility: visible;
    }

    .navLinks {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        display: none;
    }

    header {
        min-width: 100vw;
        width: fit-content;
        height: fit-content;
        margin-bottom: 50px;
    }

    .responsiveNav {
        display: flex;
    }
}