.fragenDiv {
    width: 70vw;
    margin: 5vw 0;
}

.frageUndAntwort {
    border-bottom: solid var(--darkText) 0.15vw ;
}

.arrowDown {
    height: 3vw;
    width: 3vw;
    cursor: pointer;
}


.arrowDown:active {
    transform: translateY(0.5vw);
}

.frageDiv {
    display: flex;
    align-items: center;
    margin: 1vw;
    justify-content: space-between;
}

.answerDiv p, .answerDiv li{
    margin: 1vw;
    transition: 1s;
}
