#angebotePageSection main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.angeboteTextDiv p {
    color: var(--dark-blue);
}

.angebotePageDiv {
    display: flex;
    height: 90vh;
}

.angeboteImgDiv, .angeboteTextDiv {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.angeboteTextDiv {
    flex-direction: column;
    align-items: flex-start;
}

.angeboteImgDiv img {
    width: 20vw;
}

#angeboteMain section {
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#angeboteMain li {
    margin: 5px;
}

@media (max-width: 900px) {
    .angebotePageDiv {
        flex-direction: column;
    }

    .angeboteImgDiv, .angeboteTextDiv {
        width: 90vw;
        margin: 20px;
    }

    .angeboteImgDiv img {
        width: 50vw;
    }

    .reverse-column {
    flex-direction: column-reverse;
   }

}