

#angeboteMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#angeboteMain section {
    width: 80vw;
    /* min-height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

#angeboteMain section p {
    margin: 20px;
}

#angeboteMain section h3 {
    margin: 20px;
}

#angeboteProcessDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.AngeboteProcess {
   display: flex;
   align-items: center;
}

.AngeboteProcess p {
    font-size: 18px;
}

.AngeboteArrow {
    height: 10vh;
}

.angeboteImgs {
    height: 50vh;
    margin: 20px;
}

.AngebotePointsSection p{
    width: 100%;
}

.AngebotePointsSection ul {
    width: 100%;
    padding-left: 20px;
}
@media (max-width: 900px) {
    .AngeboteArrow {
    transform: rotate(90deg);
    height: 7vh;
}
#angeboteProcessDiv {
    flex-direction: column;
    align-items: center;
}
.AngeboteProcess p {
    font-size: 14px;
}

.angeboteImgs {
    height: 25vh;
}

}