#kontaktPageSection main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#kontaktForm {
    display: flex;
    flex-direction: column;
}

#kontaktForm h2{
 text-align: center;
 width: 100%;
}

#kontaktForm form {
    display: flex;
    flex-direction: column;
}

#sonnendachCH {
    height: 70vh;
    width: 45vw;
}

.pageSection {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}