#kontaktPageSection main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#kontaktPageSection input {
    width: 30vw;
}

#kontaktPageSection label {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#sonstigeTextAndCheckbox {
    flex-direction: column;
    text-align: right;
}

#kontaktPageSection label:hover {
    background-color: var(--primary-transparent) ;
}

#kontaktForm {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

#kontaktForm button {
    width: 200px;
}

#kontaktForm h2{
 text-align: center;
 width: 100%;
}

#kontaktForm form {
    display: flex;
    flex-direction: column;
}

#sonnendachCH {
    min-height: 70vh;
    width: 45vw;
}

.pageSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 950px) {
    #sonnendachCH {
    height: 70vh;
    width: 70vw;
}

#kontaktForm {
    width: 100%;
}

}