#ecocoreSection {
    display: flex;
    height: 45vw;
}

#firstImageSection, #wasIstEcocore{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph p {
    font-size: 1.5vw;
    color: var(--darkText);
    text-align: justify;
    width: 40vw;
}

.paragraph h1 {
    font-size: 3vw;
    color: var(--darkText);
    width: 40vw;
}

#firstImage {
    width: 35vw;
    border-radius: 10px;
    border: solid var(--secondary-color);
}

#firstImage:hover {
    width: 32vw;
}

.rightArrow {
    height: 3vw;
    padding-top: 0.5vw;
}

.mehrDiv {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 5vw;
}

.mehrDiv p {
    font-size: 1.5vw;
    color: var(--darkText);
    width: fit-content;
    font-style: italic;
    font-weight: bold;
}

.mehrDiv:active {
    transform: translateY(10px);
}

.mehrDiv:hover {
    margin-left: 2vw;
}

#logo1 {
    position: absolute;
    left: -10vw;
    height: 25vw;
    z-index: -1;
    transform: translateY(-10vw);
}