#ecocoreSection {
    display: flex;
    height: 90vh;
}

#firstImageSection,
#wasIstEcocore {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph p {
    text-align: justify;
    width: 40vw;
}

#firstImage {
    width: 35vw;
    transition: width 0.2s ease-in-out;
}

#firstImage:hover {
    width: 36vw;
}

#logo1 {
    position: absolute;
    transform: translateY(-50%);
    left: -250px;
}

@media (max-width: 950px) {
    #logo1 {
    transform: translateY(-50%);
    left: -150px;
}
}

@media (max-width: 600px) {
    #ecocoreSection {
        flex-direction: column;
        height: 90vh;
        width: 100%;
    }

    #firstImageSection,
    #wasIstEcocore {
        width: 100vw;
    }

    .paragraph p {
        width: 90vw;
    }

    #firstImage {
        width: 75vw;
        transition: width 0.2s ease-in-out;
    }

    #firstImage:hover {
        width: 80vw;
    }
    
#logo1 {
    left: -150px;
    transform: translateY(-200px);
}
}