#FAQPageSection main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#FAQPageSection li {
    margin-left: 7%;
}

#SonnenDachBtnFix{
    position: fixed;
    z-index: 1000;
    top:100px;
    left: 20px;
    height: 10vh;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

#SonnenDachBtnFix:hover {
    background-color: var(--green);
}

@media screen and (max-width: 950px) {
   #SonnenDachBtnFix {
    top: 0;
    left: 0;
   } 
}